# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution packages
lib/
bin/

# Django
*.log
*.pot
__pycache__
db.sqlite3
media

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.tmPreferences.cache
*.tmlanguage.cache